<header class="header">
    <div class="container header-container">
        <div class="p-value">
            <p>Total balance:</p>
            <h1 class="total-balance-value">
                <%= total %>€
            </h1>
        </div>
        <%- include('menu') %>
    </div>
</header>