<div class="dropdown">
    <button class="btn-dropdown" type="button" aria-expanded="false">
        Menu
    </button>
    <ul class="menu-dropdown hidden">
        <li><a class="item" href="/home">Home</a></li>
        <li><a class="item" href="/portfolio">Portfolio</a></li>
        <li><a class="item" href="quantities">quantity</a></li>
    </ul>
</div>